<header id="header">

    <div class="row">

        <div class="logo">
            <a href="/">
                <img src="assets/logo/Logo portfolio.png" alt="Logo">
            </a>
        </div>

        <nav class="navbar">
            <ul id="nav">
                <li><a href="/about">à propos de moi</a></li>
                <li><a href="/parcours">parcours</a></li>
                <li><a href="/travaux">travaux</a></li>
                <li><a href="/contact">contacts</a></li>
                <li>
                    <ul class="social">
                        <li class="github">
                            <a href="https://github.com/Labrugeee" title="Suivez-moi sur GitHub !" target="_blank">
                                <img src="assets/social logo/github.png" alt="GitHub Logo">
                            </a>
                        </li>
                        <li class="assessfirst">
                            <a href="https://my.assessfirst.com/profile/synthesis" title="Consultez mon profil AssessFirst !" target="_blank">
                                <img src="assets/social logo/profile.png" alt="AssessFirst Logo">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>

</header>